Source: conky-toggle-mx
Section: system
Priority: optional
Maintainer: dolphin oracle <dolphinoracle@gmail.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.5.1

Package: conky-toggle-mx
Architecture: all
Depends: mx-conky-data-bin
Description: simple toggle switch for conky-manager
